streamlit
pandas

#Calendar Integration
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

#LLM Integration
google-generativeai

# Optional: Keep these for local development
fastapi
uvicorn
sqlalchemy
python-dotenv
mysql-connector-python
aiomysql